<% if @recipe.errors.any? %>
    <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<%= form_for @recipe do |f| %>

<div class="form-group">

  <% if @recipe.image? %>
    <%= image_tag @recipe.image.url, class: "recipe-show" %>
    <%= f.check_box :remove_image %>
    Remove Image
  <% end %>
  <%= f.file_field :image %>
</div>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %><br>

    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="ingredients">
    <h2>Ingredients</h2>

    <%= f.label :name %>
    <%= f.fields_for :recipe_ingredients do |ri| %>
      <%= render 'recipe_ingredient_fields', f: ri %>

      <div class="links">
        <%= link_to_add_association 'add ingredient', f, :recipe_ingredients %>

      </div>
    <% end %>
  </div>

  <div id="directions">
    <h2>Directions</h2>

    <%= f.label "Step(s)" %>
    <ol>
      <%= f.fields_for :directions do |direction| %>
        <%= render 'direction_fields', f: direction %>

        <div class="links">
          <%= link_to_add_association 'add step', f, :directions %>
        </div>
      <% end %>
    </ol>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
