<%= form_for @recipe, html: { multipart: true } do |f| %>


  <div class="panel-body">

    <%# input_html: { class: 'form-control' } extends boxes to edge of screen %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= fields_for(@recipe_ingredient) do |ri| %>
      <%= ri.label "All Ingredients" %>
      <div id="additional-ingredient">
      <%= collection_select(:recipe_ingredients, :id, @ingredients, :id, :name) %><br>
      </div>
      <%= ri.button "Add Ingredient", id: 'add-ingredient', type: 'button' %>

      <script>
        // document.addEventListener(DOMContentloaded)
        // create getElement

        // give element attributes
        document.getElementById('add-ingredient').addEventListener("click", function() {
          let input = document.createElement('input')
          input.setAttribute('type', 'text')
          document.getElementById('additional-ingredient').appendChild(input)
          console.log(event.target)
        })
      </script>

    <% end %>

  <%= f.button :submit, class: "btn btn-primary" %>

<% end %>
