<% if @recipe.errors.any? %>
    <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<%= form_for @recipe do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>

    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="ingredients">
    <h2>Ingredients</h2>

    <%= f.fields_for :recipe_ingredients do |ri| %>
      <%= render 'recipe_ingredient_fields', f: ri %>

      <div class="links">
        <%= link_to_add_association 'add ingredient', f, :recipe_ingredients %>
      </div>

    <% end %>
  </div>

  <div id="directions">
    <h2>Directions</h2>

    <%= f.fields_for :directions do |direction| %>
      <%= render 'direction_fields', f: direction %>

      <div class="links">
        <%= link_to_add_association 'add step', f, :directions %>
      </div>

    <% end %>
  </div>

  <%= f.submit %>
<% end %>
